*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

html, body 
{
   overflow-x: hidden;
}


nav
{
    background:radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
    height: 80px;
    width: 100%;

}

label.logo
{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 80px;
    padding: 0 70px;
    
}

nav ul
{
    float: right;
    margin-right: 20px;

}
  
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    letter-spacing: 1px;
    text-decoration: none;
}

nav ul li a:hover
{
    color:white;
    text-decoration: underline;
}

.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
#check
{
    display: none;
}

@media (max-width: 952px){

    label.logo{
      font-size: 20px;
      padding-left: 40px;
    }
    
    nav ul
    {
      display: none;
    }
  }
  
  @media (max-width: 858px){
    
    nav ul{
      display: none;
    }
    
  }



  /*Media query for desktop*/
  @media screen and (max-width: 1920px)
  {
      /*card*/
      #card-body
    	{
    		margin-top: 150px;
    		margin-left: 17%;
    		width: 65%;
    		height: 505px;
    	}
      .wrapper-mobile
      {
        visibility: hidden;
      }
    	
    	#card-pos
    	{
    		padding-left: 12%;
    		padding-top: 8%;
    	}
    	#a1
    	{
    	   font-family: 'Poppins',sans-serif;
    	   letter-spacing: 4px;
         font-size: 1vw;

      }
    	#a2
    	{
    		  font-family: 'Mulish',sans-serif;
    	    letter-spacing: 3px;
          font-weight: 800;
          font-size: 3.5vw;
    	    color:black;
      }
      
      
    	
      #a3
    	{
    		font-family: 'Open Sans', sans-serif;
    		margin-left: 3%;
    		letter-spacing:4px;
        font-size: 1.3vw;
      }
    	
      #a4
    	{
    		margin-left: 5%;
    		letter-spacing: 3px;
      }

      .a5
      {
        cursor: pointer;
      }
      .tooltiptext {
        visibility: hidden;
        width:190px;
        background-color: black;
        color: #fff;
        border-radius: 6px;
        padding: 5px 5px;
      }
      
      .a5:hover .tooltiptext {
        visibility: visible;
      }
      
      .icons-dp
      {
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
      }
      
      .wrapper .btn
      {
          border: 2px solid black;
          background-color: black;
          border-radius:7px;
          color: white;
          padding: 10px 24px;
          font-size: 14px;
          cursor: pointer;
          font-family:'Montserrat',sans-serif;
          
      }
      .wrapper .btn:hover
      {
        color: white;
      }



      
      /*Welcome*/
      .welcome
      {
        text-align: center;
        font-family: 'Courgette', cursive;
        margin-top: 785px;
        margin-bottom: 30px;
      }
        

      /*About me*/
      .myself
      {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #E3F2F2;
        padding-top: 5%;
        padding-bottom: 5%;
      }

      #about
      {
        margin-top: 1%;
        margin-left: 15%;
        font-family: 'Montserrat',sans-serif;
        font-size: 200%;
      }

      #about img
      {
        padding-left: 20%;
      }

      #about-mobile
      {
        display: none;
      }
      #info
      {
          width:45%;
          font-family: 'Manrope',sans-serif;
          text-align: justify;
          margin-left:20%;
      }

      #info p
      {
        font-size: 150%;
        font-style: bold;
      }


    /*Education*/
    .education
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: #DFEBEB;
      padding-top: 5%;
      padding-bottom: 5%;
      /*padding: 5% 3% 5% 3%; */  /*top right bottom left*/
    }

    #edutitle
    {
        float:left;
        width:15%;
        padding-top: 15%;
        margin-left: 15%;
        font-family: 'Montserrat',sans-serif;
        font-size: 250%;
    }

    #edutitle img
    {
      padding-left: 20%;
    }


    /* Timeline holder */
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 1.5rem;
        /*margin-left: 50%;*/
        margin-left: 20%;

    }

     /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 4px;
        height: 100%;
        z-index: 400;
        border-radius: 1rem;
      }

    li.timeline-item {
        margin: 20px 0;
    }

    .degree
    {
      font-family: 'Montserrat',sans-serif;
    }

    .school
    {
      font-family: 'Nunito Sans',sans-serif;
    }

    /* Timeline item arrow */
    .timeline-arrow {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid #fff;
        border-bottom: 0.5rem solid transparent;
        display: block;
        position: absolute;
        left: 2rem;
    }

    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        background: #ddd;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 11px;
        width: 14px;
        height: 14px;
        z-index: 400;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    li.current::before
    {
      background: #5986AD;
    }


    /*Skills*/
    #skills
    {
      width:90%;
      padding: 3%;
      border-radius: 15px;
      box-shadow: 5px 5px 10px 0px #888888;
      margin-top: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
    }

    #skills p
    {
      font-family: 'Montserrat',sans-serif;
      font-size: 250%;
      text-align: center;
    }

    #progress-bar-area
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    #progress-bar-area p
    {
      font-size: 130%;
      text-align: left;
    }

    #left
    {
      margin-left: 8%;
      margin-top: 2%;
      width:35%;
    }


    #right
    {
      margin-top: 2%;
      margin-left: 15%;
      width:35%;
    }

    #left .progress
    {
      height: 8px;
      border-radius: 0px;
      overflow: visible;
    }

    #left .progress-bar
    {
      position: relative;
      opacity: 1;
      overflow: visible;
    }

    #left .progress-bar .progress-value
    {
      position: absolute;
      right:0;
      top: -1.7vw;
      color: black;
    }


    #right .progress
    {
      height: 8px;
      border-radius: 0px;
      overflow: visible;
    }

    #right .progress-bar
    {
      position: relative;
      opacity: 1;
      overflow: visible;
    }

    #right .progress-bar .progress-value
    {
      position: absolute;
      right:0;
      top: -1.7vw;
      color: black;
    }

    /*Projects*/
    #projects-section
    {
      background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),url('img/bg1.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding-bottom: 10%;
      margin-bottom: 5%;
    }

    .project-name
    {
      font-family: 'Montserrat',sans-serif;
      text-align: center;
      color:white;
      font-size: 250%;
      padding-top: 4%;
    }

    #projects
    {
      margin-top: 5%;
    }

    .card
    {
      width: 23%;
    }

    #projects-1
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 4%;
    }

    #projects-1 div
    {
      margin-left: 8%;
    }

    #projects-1 .project-title
    {
      font-family: 'Montserrat',sans-serif;
      font-size: 2.5vh;
    }

    #projects-1 .card-text
    {
      font-family: 'Open Sans',sans-serif;
      text-align: justify;
    }
    #projects-1 .card-img-top
    {
      height: 45%;
    }


    #projects-2
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #projects-2 div
    {
      margin-left: 8%;
    }
    #projects-2 .project-title
    {
      font-family: 'Montserrat',sans-serif;
      font-size: 2.5vh;
    }
    #projects-2 .card-text
    {
      font-family: 'Open Sans',sans-serif;
      text-align: justify;
    }
    #projects-2 .card-img-top
    {
      height: 45%;
    }


    /*Footer*/
    .foot
    {
      background-color:#161C27;
    }

    .follow
    {
      color:white;
      margin-left: 46%;
      font-size:1rem;
      font-family: 'Montserrat', sans-serif;
    }

}


/*Media query for mobile phone*/
@media screen and (max-width: 480px)
{
      /*Main card*/
      .wrapper
      {
        display: none;
      }
      .wrapper-mobile
      {
        visibility: visible;

      }
      #a1
      {
         color: white;
         margin-top:140px;
         margin-left: 20%;
         font-size: 20px;
      }
      #a2-mobile
      {
          color:white;
          font-family: 'Red Hat Display', sans-serif;
          font-size: 35px;
          letter-spacing: 3px;
          margin-left: 40%;
          margin-top: 70px;
          line-height: 0;
      }
      #a2-mobile-name
      {
        color:white;
        font-family: 'Red Hat Display', sans-serif;
        font-size: 45px;
        margin-left: 22%;
        font-weight: 700;
        font-style: italic;
      }
      #a3
      {
        color:white;
        font-size: 15px;
      }
      .fa-arrow-right
      {
        color: white;
        margin-left: 8%;
      }
      .icons
      {
        margin-top: 2%;
        margin-left: 34%;
      }
      .wrapper-mobile .btn
      {

          border: 2px solid white;
          background-color: white;
          border-radius:7px;
          color: black;
          padding: 10px 24px;
          font-size: 14px;
          cursor: pointer;
          font-family:'Montserrat',sans-serif;
          margin-left: 28%;
      }



      /*welcome*/
      .welcome
      {
        margin-top: 750px;
      }

      /*about me*/
      #about
      {
        display: none;
      }
      #about-mobile
      {
        display: block;
      }
      #about-mobile p
      {
        margin-left: 27%; 
        font-size:180%;
        margin-top: 1%;
        font-family: 'Montserrat',sans-serif;
      }
      
      #about-mobile img
      {
        width:70%;
        height: 85%;
        margin-left: 14%;
      }
      #info
      {
          width:85%;
          font-family: 'Manrope',sans-serif;
          letter-spacing: 1px;
          margin-left:7%;
          margin-right: 7%;
          margin-top: 7%;
      }

      #info p
      {
        font-size: 130%;
        margin-top: 10%;
      }

      /*Education*/

      #edutitle
      {
        width:15%;
        font-size: 10px;
        padding-top: 5%;
        margin-left: 27%;
        font-size: 180%;
      }
      #edutitle img
      {
        padding-left: 30%;
      }
      ul.timeline
      {
         margin-left: 5%;
         margin-top: 8%;
      }
      li.timeline-item 
      {
          margin: 20px 25px;
      }
           


      /*Skills*/
      #skills
      {
        padding-bottom: 15%;
      }
      
      #skills p
      {
         font-size: 180%;
         margin-top: 4%;
      }

      #progress-bar-area p
      {
        font-size:100%;
      }

      #left
      {
          width:80%;
      }

      #right
      {
          width:80%;
          margin-left: 8%;
      }

      #left .progress-bar .progress-value
      {
        top: -10vw;
      }

      #right .progress-bar .progress-value
      {
        top: -10vw;
      }


      /*projects*/
      .project-name
      {
        font-family: 'Montserrat',sans-serif;
        text-align: center;
        color:white;
        font-size: 180%;
        padding-top:7%;
      }
      #projects
      {
        margin-top: 7%;
      }
      .card
      {
        width: 85%;
      }
      #projects-1 div
      {
        margin-bottom: 5%;
      }
      #projects-2 div
      {
        margin-bottom: 5%;
      }
      .tools-change
      {
        padding-bottom: 8%;
      }
      #projects-1 .project-title
      {
        font-size: 110%;
      }
      #projects-1 .card-text
      {
        font-size: 95%;
      }
      #projects-2 .project-title
      {
        font-size: 120%;
      }
      #projects-2 .card-text
      {
        font-size: 95%;
      }


      /*footer*/
      .follow
      {
        margin-left: 38%;
      }

}








